@import "tailwindcss";

:root {
    --bg-transparent: #070f2f6f;
}

.mainForm {
    background-color: #070f2f;
    background-image: url("../imgs/svgs/cedulas-bg.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

.glassmorphism {
    background: var(--bg-transparent);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.top-pill {
    top: calc(var(--spacing) * 1);
}

@media (width >= 48rem) {
    .mainForm {
        background-image: url("../imgs/svgs/cedulas-big-bg.svg");
        background-size: cover;
    }
}

@media (width >= 64rem) {
    .mainForm {
        background-image: url("../imgs/icons/bg-medium.png");
        background-size: cover;
    }
}

@media (width >= 80rem) {
    .mainForm {
        background-image: url("../imgs/icons/bg-big.png");
        background-size: contain;
    }
}

@media (width >= 96rem) {
    .mainForm {
        background-image: url("../imgs/icons/bg-larger.png");
        background-size: contain;
    }
}
